<launch>

    <!-- quadrotor_msgs::PositionCommand to MultiDOFJointTrajectory -->
    <!-- default: /position_cmd -->
    <node pkg="px4_gazebo" name="traj_msg_converter" type="trajectory_msg_converter.py" output="screen">
        <param name="fast_planner_traj_topic" value="/position_cmd"/>
        <param name="traj_pub_topic" value="command/trajectory"/>
    </node>


</launch>